.close{
    text-decoration: none;
    text-align: center;
    padding:0px;
    color: red;
    position: fixed;
    background-color:white;
    top: 1vh;
    right: 1vh;
    font-size: 5vh;
    font-weight: bolder;
    border-radius: 4vh;
    width: 6vh;
    height: 6vh;
    border: none;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.522);
  }